<h1>Benvenuti in PlaySport</h1>
<div class="auth-container">
  <h2>Registrazione</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="register-form">
    <!-- Nome -->
    <label for="firstname">Nome</label>
    <input id="firstname" formControlName="firstname" />

    <!-- Cognome -->
    <label for="lastname">Cognome</label>
    <input id="lastname" formControlName="lastname" />

    <!-- Email -->
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" />

    <!-- Password -->
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password" />

    <!-- Numero -->
    <label for="phoneNumber">Numero di Telefono</label>
    <input id="phoneNumber" formControlName="phoneNumber" type="tel" />

    <!-- Ruolo -->
    <label for="role">Tipo di account</label>
    <select id="role" formControlName="role" class="custom-select">
      <option value="USER">Utente</option>
      <option value="OWNER">Proprietario Struttura</option>
    </select>

    <!-- Upload avatar e documento -->
    <div class="upload-row">
      <label class="upload-label small-upload">
        <i class="fas fa-camera"></i> Carica Foto Profilo
        <input type="file" (change)="onFileSelected($event)" hidden />
      </label>
      <label class="upload-label small-upload">
        <i class="fas fa-id-card"></i> Carica Documento Identità
        <input type="file" (change)="onDocumentSelected($event)" hidden />
      </label>

    </div>

    <div class="file-names">
      <span class="file-name" *ngIf="selectedFileName">✅ {{ selectedFileName }}</span>
      <span class="file-name" *ngIf="documentFileName">✅ {{ documentFileName }}</span>
    </div>


    <button type="submit" [disabled]="signupForm.invalid">Registrati</button>

    <!-- Link login -->
    <div class="link">
      <p>Hai già un account? <a routerLink="/login">Accedi</a></p>
    </div>
  </form>
</div>