<div class="settings-container">
  <button class="back-button" (click)="goBack()">
    <i class="fas fa-arrow-left"></i> <!-- Icona freccia -->
  </button>
  <h2 class="settings-title">Gestione Campi da Gioco</h2>

  <!-- Messaggi di feedback -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="feedbackMessage" class="success-message">
    {{ feedbackMessage }}
  </div>

  <!-- Tabella dei campi esistenti -->
  <div *ngIf="fields.length > 0">
    <h3>Campi esistenti</h3>
    <table>
      <thead>
        <tr>
          <th>Nome Campo</th>
          <th>Indirizzo</th>
          <th>Tipo di Sport</th>
          <th>Proprietario</th>
          <th>Azione</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let field of fields">
          <td>{{ field.resourceName }}</td>
          <td>{{ field.address }}</td>
          <td>{{ field.resourceType }}</td>
          <td>{{ field.resourceOwnerName }}</td>
          <td>
            <button (click)="editField(field)">Modifica</button>
            <button (click)="deleteField(field.id)">Elimina</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Form per aggiungere o modificare un campo -->
  <div *ngIf="isEditing || isAdding">
    <h3>{{ isEditing ? 'Modifica Campo' : 'Aggiungi Nuovo Campo' }}</h3>
    <form (ngSubmit)="saveField()">
      <div>
        <label for="resourceName">Nome Campo:</label>
        <input type="text" id="resourceName" [(ngModel)]="fieldData.resourceName" name="resourceName" required>
      </div>

      <div>
        <label for="address">Indirizzo:</label>
        <input type="text" id="address" [(ngModel)]="fieldData.address" name="address" required>
      </div>

      <div>
        <label for="resourceType">Tipo di Sport:</label>
        <select id="resourceType" [(ngModel)]="fieldData.resourceType" name="resourceType" required>
          <option value="calcio">Calcio</option>
          <option value="tennis">Tennis</option>
          <option value="basket">Basket</option>
          <option value="padel">Padel</option>
        </select>
      </div>

      <div>
        <label for="resourceOwnerName">Nome Proprietario:</label>
        <input type="text" id="resourceOwnerName" [(ngModel)]="fieldData.resourceOwnerName" name="resourceOwnerName" required>
      </div>

      <button type="submit">{{ isEditing ? 'Salva Modifiche' : 'Aggiungi Campo' }}</button>
    </form>
  </div>

  <!-- Bottone per aggiungere un nuovo campo -->
  <div class="button-group" *ngIf="!isEditing && !isAdding">
    <button class="settings-button" (click)="showAddFieldForm()">Aggiungi Nuovo Campo</button>
  </div>
</div>
