<div class="page-container">
    <button class="back-button" (click)="goBack()">
        <i class="fas fa-arrow-left"></i>
    </button>


    <h2 class="page-title">Le tue prenotazioni</h2>

    <div class="bookings-list">
        <div *ngFor="let b of bookings" class="booking-card">
            <p><strong>Sport:</strong> {{ b.sport }}</p>
            <p><strong>Data:</strong> {{ b.date }} ore {{ b.time }}</p>
            <p><strong>Campo:</strong> {{ b.fieldName }}</p>
            <button class="cancel-button" (click)="confirmDelete(b.id)">Annulla prenotazione</button>
        </div>
    </div>
</div>