<div class="club-container" *ngIf="clubData">
    <h2>{{ clubData.name }}</h2>
    <p><strong>Indirizzo:</strong> {{ clubData.address }}</p>

    <mat-form-field appearance="outline" style="width: 100%; margin: 20px 0;">
        <mat-label>📅 Seleziona giorno</mat-label>
        <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" [value]="selectedDate"
            (dateChange)="onDateChange($event)" readonly />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="month" touchUi="true"></mat-datepicker>
    </mat-form-field>


    <h3>Disponibilità Orari</h3>
    <div class="calendar">
        <div *ngFor="let slot of clubData.calendar" class="calendar-slot" [class.full]="!slot.available"
            [class.selected]="slot.hour === selectedSlot" (click)="slot.available && onSelectSlot(slot.hour)">
            <span>{{ slot.hour }}</span><br />
            <span *ngIf="slot.available" class="available">Disponibile</span>
            <span *ngIf="!slot.available" class="unavailable">Occupato</span>
        </div>
    </div>

    <h3>Galleria</h3>
    <div class="gallery">
        <img *ngFor="let img of clubData.images" [src]="img" alt="Foto club" />
    </div>

    <div class="map-container">
        <iframe [src]="googleMapUrl" loading="lazy" allowfullscreen></iframe>
    </div>

    <div class="button-row">
        <button (click)="onBook()" [disabled]="!selectedSlot" class="btn green">
            Prenota ora
        </button>
        <button (click)="goBack()" class="btn red">Torna indietro</button>
    </div>
</div>