<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Profilo utente -->
    <div class="user-profile" *ngIf="user$">
      <div class="avatar">
        <ng-container *ngIf="user$?.avatar; else defaultIcon">
          <img [src]="env.apiBaseUrl + user$.avatar" alt="Avatar" />
        </ng-container>
        <ng-template #defaultIcon>
          <i class="fas fa-user-circle fa-3x"></i>
        </ng-template>
      </div>
      <p class="username">{{ user$.firstname }} {{ user$.lastname }}</p>
    </div>

    <h2>Sport</h2>
    <button class="button" (click)="selectSport('calcio')">Calcio</button>
    <button class="button" (click)="selectSport('padel')">Padel</button>
    <button class="button" (click)="selectSport('tennis')">Tennis</button>
    <button class="button" (click)="selectSport('basket')">Basket</button>

    <div class="bottom-buttons">
      <button *ngIf="isAdmin" class="button" [routerLink]="['/userManagement']">
        <i class="fas fa-user-cog"></i> Gestisci Utenti
      </button>
      <button class="button" [routerLink]="['/settings']">
        <i class="fas fa-cog"></i> Impostazioni
      </button>
      <button class="button" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </div>
  </div>

  <!-- Content Area -->
  <div class="content">
    <h1>Benvenuto, {{ userName }}!</h1>

    <ng-container *ngIf="selectedSport; else selezionaSport">
      <h2>Campi disponibili per {{ selectedSport }}</h2>

      <div class="grid-container">
        <div class="campo-card" *ngFor="let campo of campi">
          <img [src]="'assets/img/' + campo.img" alt="Campo" class="campo-img">
          <div class="campo-info">
            <h3>{{ campo.name }}</h3>
            <p>{{ campo.address }}</p>
            <button [routerLink]="['/club', campo.id]">Prenota</button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #selezionaSport>
      <p>Seleziona uno sport per vedere i campi disponibili.</p>
    </ng-template>
  </div>
</div>