<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sport-buttons">
      <h2>Sport</h2>
      <button (click)="selectSport('calcio')" class="sport-button">Calcio</button>
      <button (click)="selectSport('padel')" class="sport-button">Padel</button>
      <button (click)="selectSport('tennis')" class="sport-button">Tennis</button>
      <button (click)="selectSport('basket')" class="sport-button">Basket</button>
    </div>

    <div class="bottom-buttons">
      <!-- Tasto "Gestisci Utenti", visibile solo se l'utente è admin -->
      <button (click)="goToUserManager()"  *ngIf="isAdmin" class="icon-button admin-button">
        <i class="fas fa-user-cog"></i>
      </button>

      <!-- Tasto per impostazioni visibile a tutti -->
      <button (click)="goToSettings()" class="icon-button settings-button">
        <i class="fas fa-cog"></i>
      </button>

      <!-- Tasto Logout visibile a tutti -->
      <button (click)="logout()" class="icon-button logout-button">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>
  </div>

  <!-- Content Area (Campi di gioco) -->
  <div class="content">
    <h1>Benvenuto, {{ userName }}!</h1>

    <!-- Se è stato selezionato uno sport, mostra i campi disponibili -->
    <div *ngIf="selectedSport">
      <h2>Campi disponibili per {{ selectedSport }}</h2>
      <div class="grid-container">
        <div class="field" *ngFor="let field of campi">
          <h3>{{ field.name }}</h3>
          <p>{{ field.address }}</p>
          <button (click)="bookField(field)">Prenota</button>
        </div>
      </div>
    </div>

    <!-- Messaggio se non è selezionato alcuno sport -->
    <div *ngIf="!selectedSport">
      <p>Seleziona uno sport per vedere i campi disponibili.</p>
    </div>
  </div>
</div>
